html {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Open Sans", sans-serif;
}

section {
  display: flex;
  flex-wrap: wrap;
}
section h2 {
  flex: 1 0 100%;
  margin: 3rem 0 0 0;
}
section p {
  flex: 1 0 100%;
  margin: 1rem 0;
}
section article {
  flex: 1;
  padding: 1rem;
}
section article p {
  display: flex;
  justify-content: space-between;
}
section article p label {
  font-weight: bold;
}
section .color-principal-1 .muestra {
  width: 100%;
  height: 6rem;
  background-color: #b22222;
}
section .color-principal-1 .nombre::before {
  content: "firebrick";
}
section .color-principal-1 .hex::before {
  content: "#b22222";
}
section .color-principal-1 .rgb::before {
  content: "178 / 34 / 34";
}
section .color-principal-1 .hsl::before {
  content: "0deg / 68% / 42%";
}
section .color-principal-2 .muestra {
  width: 100%;
  height: 6rem;
  background-color: #adff2f;
}
section .color-principal-2 .nombre::before {
  content: "greenyellow";
}
section .color-principal-2 .hex::before {
  content: "#adff2";
}
section .color-principal-2 .rgb::before {
  content: "173 / 255 / 47";
}
section .color-principal-2 .hsl::before {
  content: "84deg / 100% / 59%";
}
section .color-principal-3 .muestra {
  width: 100%;
  height: 6rem;
  background-color: #00bfff;
}
section .color-principal-3 .nombre::before {
  content: "deepskyblue";
}
section .color-principal-3 .hex::before {
  content: "#00bfff";
}
section .color-principal-3 .rgb::before {
  content: "0 / 191 / 255";
}
section .color-principal-3 .hsl::before {
  content: "195deg / 100% / 50%";
}
section .color-principal-4 .muestra {
  width: 100%;
  height: 6rem;
  background-color: #8a2be2;
}
section .color-principal-4 .nombre::before {
  content: "blueviolet";
}
section .color-principal-4 .hex::before {
  content: "#8a2be2";
}
section .color-principal-4 .rgb::before {
  content: "138 / 43 / 226";
}
section .color-principal-4 .hsl::before {
  content: "271deg / 76% / 53%";
}

.tonalidades-color-principal-1 h3::before {
  content: "firebrick";
}
.tonalidades-color-principal-1 .muestra {
  flex-direction: row;
  display: flex;
}
.tonalidades-color-principal-1 .muestra .claro {
  width: 100%;
  height: 6rem;
  background-color: #e47070;
}
.tonalidades-color-principal-1 .muestra .normal {
  width: 100%;
  height: 6rem;
  background-color: #b22222;
}
.tonalidades-color-principal-1 .muestra .oscuro {
  width: 100%;
  height: 6rem;
  background-color: #470e0e;
}

.tonalidades-color-principal-2 h3::before {
  content: "greenyellow";
}
.tonalidades-color-principal-2 .muestra {
  flex-direction: row;
  display: flex;
}
.tonalidades-color-principal-2 .muestra .claro {
  width: 100%;
  height: 6rem;
  background-color: #dfffaf;
}
.tonalidades-color-principal-2 .muestra .normal {
  width: 100%;
  height: 6rem;
  background-color: #adff2f;
}
.tonalidades-color-principal-2 .muestra .oscuro {
  width: 100%;
  height: 6rem;
  background-color: #6aaf00;
}

.tonalidades-color-principal-3 h3::before {
  content: "deepskyblue";
}
.tonalidades-color-principal-3 .muestra {
  flex-direction: row;
  display: flex;
}
.tonalidades-color-principal-3 .muestra .claro {
  width: 100%;
  height: 6rem;
  background-color: #80dfff;
}
.tonalidades-color-principal-3 .muestra .normal {
  width: 100%;
  height: 6rem;
  background-color: #00bfff;
}
.tonalidades-color-principal-3 .muestra .oscuro {
  width: 100%;
  height: 6rem;
  background-color: #006080;
}

.tonalidades-color-principal-4 h3::before {
  content: "blueviolet";
}
.tonalidades-color-principal-4 .muestra {
  flex-direction: row;
  display: flex;
}
.tonalidades-color-principal-4 .muestra .claro {
  width: 100%;
  height: 6rem;
  background-color: #c89bf1;
}
.tonalidades-color-principal-4 .muestra .normal {
  width: 100%;
  height: 6rem;
  background-color: #8a2be2;
}
.tonalidades-color-principal-4 .muestra .oscuro {
  width: 100%;
  height: 6rem;
  background-color: #49117c;
}

.combinaciones-color-principal-1 h3::before {
  content: "firebrick";
}
.combinaciones-color-principal-1 .muestra {
  width: 100%;
  height: 6rem;
  background-color: #b22222;
}
.combinaciones-color-principal-1 .mix-2 p::before {
  content: "firebrick" " con " "greenyellow";
}
.combinaciones-color-principal-1 .mix-2 div {
  width: 100%;
  height: 3rem;
  background-color: #b07a27;
}
.combinaciones-color-principal-1 .mix-3 p::before {
  content: "firebrick" " con " "deepskyblue";
}
.combinaciones-color-principal-1 .mix-3 div {
  width: 100%;
  height: 3rem;
  background-color: #6b617a;
}
.combinaciones-color-principal-1 .mix-4 p::before {
  content: "firebrick" " con " "blueviolet";
}
.combinaciones-color-principal-1 .mix-4 div {
  width: 100%;
  height: 3rem;
  background-color: #a2266f;
}

.combinaciones-color-principal-2 h3::before {
  content: "greenyellow";
}
.combinaciones-color-principal-2 .muestra {
  width: 100%;
  height: 6rem;
  background-color: #adff2f;
}
.combinaciones-color-principal-2 .mix-1 p::before {
  content: "greenyellow" " con " "firebrick";
}
.combinaciones-color-principal-2 .mix-1 div {
  width: 100%;
  height: 3rem;
  background-color: #afa72a;
}
.combinaciones-color-principal-2 .mix-3 p::before {
  content: "greenyellow" " con " "deepskyblue";
}
.combinaciones-color-principal-2 .mix-3 div {
  width: 100%;
  height: 3rem;
  background-color: #68e582;
}
.combinaciones-color-principal-2 .mix-4 p::before {
  content: "greenyellow" " con " "blueviolet";
}
.combinaciones-color-principal-2 .mix-4 div {
  width: 100%;
  height: 3rem;
  background-color: #9faa77;
}

.combinaciones-color-principal-3 h3::before {
  content: "deepskyblue";
}
.combinaciones-color-principal-3 .muestra {
  width: 100%;
  height: 6rem;
  background-color: #00bfff;
}
.combinaciones-color-principal-3 .mix-1 p::before {
  content: "deepskyblue" " con " "firebrick";
}
.combinaciones-color-principal-3 .mix-1 div {
  width: 100%;
  height: 3rem;
  background-color: #4780a7;
}
.combinaciones-color-principal-3 .mix-2 p::before {
  content: "deepskyblue" " con " "greenyellow";
}
.combinaciones-color-principal-3 .mix-2 div {
  width: 100%;
  height: 3rem;
  background-color: #45d9ac;
}
.combinaciones-color-principal-3 .mix-4 p::before {
  content: "deepskyblue" " con " "blueviolet";
}
.combinaciones-color-principal-3 .mix-4 div {
  width: 100%;
  height: 3rem;
  background-color: #3784f3;
}

.combinaciones-color-principal-4 h3::before {
  content: "blueviolet";
}
.combinaciones-color-principal-4 .muestra {
  width: 100%;
  height: 6rem;
  background-color: #8a2be2;
}
.combinaciones-color-principal-4 .mix-1 p::before {
  content: "blueviolet" " con " "firebrick";
}
.combinaciones-color-principal-4 .mix-1 div {
  width: 100%;
  height: 3rem;
  background-color: #9a2795;
}
.combinaciones-color-principal-4 .mix-2 p::before {
  content: "blueviolet" " con " "greenyellow";
}
.combinaciones-color-principal-4 .mix-2 div {
  width: 100%;
  height: 3rem;
  background-color: #98809a;
}
.combinaciones-color-principal-4 .mix-3 p::before {
  content: "blueviolet" " con " "deepskyblue";
}
.combinaciones-color-principal-4 .mix-3 div {
  width: 100%;
  height: 3rem;
  background-color: #5366ee;
}

/*# sourceMappingURL=main.css.map */
