$nombre-1:"firebrick";
$nombre-2:"greenyellow";
$nombre-3:"deepskyblue";
$nombre-4:"blueviolet";

$hex-1:"#b22222";
$hex-2:"#adff2";
$hex-3:"#00bfff";
$hex-4:"#8a2be2";

$rgb-1:"178 / 34 / 34";
$rgb-2:"173 / 255 / 47";
$rgb-3:"0 / 191 / 255";
$rgb-4:"138 / 43 / 226";

$hsl-1:"0deg / 68% / 42%";
$hsl-2:"84deg / 100% / 59%";
$hsl-3:"195deg / 100% / 50%";
$hsl-4:"271deg / 76% / 53%";

//mezclas

$mezcla1:$nombre-1 " con " $nombre-2;
$mezcla2:$nombre-1 " con " $nombre-3;
$mezcla3:$nombre-1 " con " $nombre-4;

$mezcla4:$nombre-2 " con " $nombre-1;
$mezcla5:$nombre-2 " con " $nombre-3;
$mezcla6:$nombre-2 " con " $nombre-4;

$mezcla7:$nombre-3 " con " $nombre-1;
$mezcla8:$nombre-3 " con " $nombre-2;
$mezcla9:$nombre-3 " con " $nombre-4;

$mezcla10:$nombre-4 " con " $nombre-1;
$mezcla11:$nombre-4 " con " $nombre-2;
$mezcla12:$nombre-4 " con " $nombre-3;